@use "utils" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-display: swap;
  color: #333;
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}
