@use "utils" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-display: swap;
  color: #333;
  overflow-x: hidden;

  animation: fvAnimation 1.2s ease-in-out;
}

@keyframes fvAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}
