@use "utils" as *;

.contact-btn {
  display: block;
  border-radius: rem(10);
  box-shadow: 0 rem(3) rem(6) 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to right, #fa41cc, #6020b0);
  color: #fff;
  width: rem(155);
  height: rem(37);
  font-weight: bold;
  font-size: rem(14);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-out;

  &:hover {
    transform: translateY(rem(3));
    box-shadow: none;
  }
}

.heading2 {
  @include sectionTitle;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-right: rem(6);
  @include mq(sp) {
    margin-right: 0;
  }

  &-under {
    color: #3ba6c9;
    @include mainText;
    text-align: center;
    text-transform: uppercase;
    margin-top: rem(10);
    margin-right: rem(13);
  }
}

.heading3 {
  @include sectionSubTitle;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.sp-none {
  @include mq(sp) {
    display: contents;
  }
}
