@use "utils" as *;

// ヘッダー
.header {
  height: rem(94);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  @include mq(sp) {
    height: rem(65);
  }

  // ヘッダーコンテナ
  &__container {
    max-width: rem(1022);
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // ヘッダータイトル
  &__title {
    display: flex;
    gap: rem(16);
    margin-left: rem(20);
    height: 100%;
    align-items: center;
    @include mq(sp) {
      margin-left: rem(15);
    }
  }

  // ロゴ
  &__logo {
    width: rem(47);
    height: rem(47);
    @include mq(sp) {
      width: rem(39);
      height: rem(39);
    }

    & img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
      object-fit: cover;
      @include mq(sp) {
        vertical-align: top;
      }
    }
  }

  // タイトルの中の文字
  &__inner {
    display: block;
    font-size: rem(24);
    font-weight: bold;
    line-height: 1;

    @include mq(sp) {
      font-size: rem(20);
    }
  }

  // ナビゲーション
  &__nav {
    display: flex;
    align-items: center;

    @include mq(sp) {
      position: fixed;
      inset: rem(65) 0 0 0;
      flex-direction: column;
      background-color: #eefbfb;
      transition: transform 0.6s ease-in-out;
      transform: translateX(100%);

      &.js-active {
        transform: none;
      }
    }
  }

  // ナビゲーションリスト
  &__list {
    display: flex;
    margin-right: rem(184);
    column-gap: rem(46);
    margin-bottom: rem(2);
    @media screen and (max-width: 900px) {
      margin-right: rem(50);
    }
    @include mq(sp) {
      flex-direction: column;
      height: 75%;
      width: 100%;
      margin: 0;
      text-align: center;
      justify-content: space-around;
    }

    & li a {
      font-weight: bold;
      font-size: rem(16);
      color: #333;

      @include mq(sp) {
        font-size: rem(20);
      }
    }
  }

  // お問い合わせボタン
  &__btn {
    margin-right: rem(21);

    @include mq(sp) {
      display: none !important;
    }
  }
}

// ハンバーガーボタン
.hamburger {
  display: none;

  @include mq(sp) {
    display: block;
    width: rem(40);
    height: rem(30);
    margin-right: rem(15);
    position: relative;

    &__line {
      display: block;
      width: rem(40);
      height: rem(2);
      background-color: #333;
      position: absolute;
      transition: transform 0.5s ease-in-out;

      &:nth-child(2) {
        top: rem(12);
      }
      &:nth-child(3) {
        top: rem(24);
      }
    }
  }
}

// ハンバーガーボタンのアニメーション
.hamburger.js-active .hamburger__line {
  &:nth-child(1) {
    transform: translateY(rem(12)) rotate(-225deg);
  }
  &:nth-child(2) {
    transform: scale(0) rotate(360deg);
  }
  &:nth-child(3) {
    transform: translateY(rem(-12)) rotate(225deg);
  }
}
