@use "utils" as *;

// ヒーローセクション
.hero {
  padding-top: rem(225);
  width: 100%;
  overflow: hidden;
  min-height: rem(700);
  padding-inline: rem(15);
  @include mq(tb) {
    padding-top: rem(180);
  }
  @include mq(sp) {
    padding-top: rem(120);
  }

  // コンテナ
  &__container {
    max-width: rem(1022);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    column-gap: rem(20);
    @include mq(sp) {
      flex-direction: column;
      align-items: center;
      max-width: rem(455);
    }
  }

  // 左側テキスト欄
  &__left {
    margin-left: rem(20);
    margin-top: rem(28);
    flex-shrink: 1;

    @include mq(sp) {
      margin-left: 0;
      margin-top: 0;
    }
  }
  // セクションタイトル
  &__title {
    font-size: rem(32);
    text-align: left;
    white-space: nowrap;

    @media screen and (max-width: 374px) {
      white-space: normal;
    }
  }
  // タイトル下テキスト
  &__text {
    margin-top: rem(44);
  }
  // テキスト下のボタン
  &__btn {
    margin-top: rem(44);
  }

  // 右側イラスト欄
  &__right {
    flex-shrink: 2;
  }

  // サラリーマンの画像
  &__img {
    max-width: rem(518);
    height: auto;

    @include mq(tb) {
      max-width: rem(400);
    }
    @include mq(sp) {
      margin-top: rem(40);
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  // 背景の丸
  &__back {
    position: absolute;
    z-index: -1;
    top: rem(-255);
    right: rem(-256);
    width: rem(708);
    @include mq(tb) {
      width: rem(600);
    }
    @include mq(sp) {
      top: -16%;
      right: -32%;
    }
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
