@use "utils" as *;

// priceセクション
.price {
  background-color: #eefbfb;
  padding-top: rem(55);
  padding-bottom: rem(68);
  @include mq(sp) {
    padding-inline: rem(15);
  }

  // セクションタイトル
  &__title {
    margin-left: rem(4);
  }
  // セクションタイトル下
  &__titleUnder {
    margin-left: rem(8);
  }

  // セクションの注意書き
  &__notes {
    margin-top: 36px;
    text-align: center;
    @include mainText;
  }

  // セクション内の表
  table {
    background-color: #fff;
    box-shadow: 0 rem(3) rem(6) 0 rgba(0, 0, 0, 0.16);
    margin-top: rem(70);
    transition: all 0.6s ease-out;
    transform-origin: top top;

    &.js-intersection {
      transform: translateY(-50px) scale(1.2);
      opacity: 0;
    }

    @include mq(pc) {
      width: clamp(rem(500), vw(926, 956), rem(926));
      height: rem(410);
      margin-inline: auto;
      border-collapse: collapse;

      tr + tr th,
      tr + tr td {
        border-top: solid rem(1) #e5e5e5;
      }
      th {
        text-align: left;
        padding-left: rem(19);
        width: rem(289);
        border-right: solid rem(1) #e5e5e5;
      }
      td {
        padding-left: rem(30);
        width: auto;
      }
    }
  }
  @include mq(sp) {
    table {
      width: 100%;
    }
    th,
    td {
      display: block;
    }

    tr {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 20px;
      + tr {
        border-top: solid rem(1) #e5e5e5;
      }
    }
  }
}
